.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-inner {
  margin-top: 2%;
  height: 400px;
  border-radius: 3px;
}

.btn-carousel {
  position: absolute;
  top: 65%;
  left: 45%;
}

.btn-carousel {
  z-index: 10;
}

.cta-block {
  background-image: url(https://images.unsplash.com/photo-1527176930608-09cb256ab504?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1953&q=80);
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: transparent !important;
}

.sales-card {
  background-image: url(https://images.unsplash.com/photo-1546521343-4eb2c01aa44b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=975&q=80);
}

.btn {
  color: white !important;
  background-color: #17a2b8 !important;
  border: transparent !important;
}

.card-link,
.nav-link {
  color: #17a2b8 !important;
}

.btn-outline {
  background-color: transparent !important;
  border: 1px solid #17a2b8 !important;
  color: #17a2b8 !important;
}
.card-header {
  font-size: 30px !important;
}

.review {
  color: black !important;
}

.page-link {
  color: black !important;
}


.libraryBook {
  background-color: grey;
  padding-top: 5%;
  margin:5px;

}

.libraryList{
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top:3%;
  margin-bottom: 3%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
